<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="gankenkun">
  <!--Constants
  for robot dimensions -->
  <xacro:property name="PI" value="3.1415926535897931"/>

  <!-- Import Rviz color -->
  <xacro:include filename="$(find opr_description)/urdf/materials.xacro"/>

  <!-- import empty link -->
  <link name="base_link"/>
  <!-- uncomment this part to fixed the body in space (ignore gravity) -->
  <!-- <link name="world"/>
  <joint name="world2base" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="world"/>
    <child link="base_link"/>
  </joint> -->


  <!-- import robot parts -->
  <xacro:include filename="$(find opr_description)/urdf/version4/body/body.urdf.xacro"/>
  <xacro:include filename="$(find opr_description)/urdf/version4/head/head.urdf.xacro"/>
  <xacro:include filename="$(find opr_description)/urdf/version4/arms/left_arm.urdf.xacro"/>
  <xacro:include filename="$(find opr_description)/urdf/version4/arms/right_arm.urdf.xacro"/>
  <xacro:include filename="$(find opr_description)/urdf/version4/legs/left_leg.urdf.xacro"/>
  <xacro:include filename="$(find opr_description)/urdf/version4/legs/right_leg.urdf.xacro"/>

  <!-- gazebo reference -->
  <xacro:include filename="$(find opr_description)/urdf/gazebo.xacro"/>
  <xacro:include filename="$(find opr_description)/urdf/version4/body/body.gazebo.xacro"/>
  <xacro:include filename="$(find opr_description)/urdf/version4/head/head.gazebo.xacro"/>
  <xacro:include filename="$(find opr_description)/urdf/version4/arms/arms.gazebo.xacro"/>
  <xacro:include filename="$(find opr_description)/urdf/version4/legs/legs.gazebo.xacro"/>

  <!-- transmission -->
  <xacro:include filename="$(find opr_description)/urdf/version4/head/head.transmission.xacro"/>
  <xacro:include filename="$(find opr_description)/urdf/version4/arms/arms.transmission.xacro"/>
  <xacro:include filename="$(find opr_description)/urdf/version4/legs/legs.transmission.xacro"/>
</robot>
