<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- leg joints -->
  <joint name="right_waist_yaw_joint" type="revolute">
    <parent link="body_link"/>
    <child link="right_waist_yaw_link"/>
    <origin xyz="0.004954 -0.044 -0.107" rpy="0 0 0"/>
    <limit effort="100" lower="${-3*PI/4}" upper="${3*PI/4}" velocity="4.8"/>
    <axis xyz="0 0 1"/>
  </joint>
  <joint name="right_waist_roll_joint" type="revolute">
    <parent link="right_waist_yaw_link"/>
    <child link="right_waist_roll_link"/>
    <origin xyz="0 0 -0.0425" rpy="0 0 0"/>
    <limit effort="1000" lower="${-PI/4}" upper="${PI/4}" velocity="4.8"/>
    <axis xyz="1 0 0"/>
  </joint>
  <joint name="right_waist_pitch_joint" type="revolute">
    <parent link="right_waist_roll_link"/>
    <child link="right_thigh_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <limit effort="1000" lower="${-PI/2}" upper="${PI/6}" velocity="4.8"/>
    <axis xyz="0 1 0"/>
  </joint>
  <joint name="right_knee_pitch_joint" type="revolute">
    <parent link="right_knee_link"/>
    <child link="right_shin_link"/>
    <origin xyz="0 0 -0.057" rpy="0 0 0"/>
    <limit effort="1000" lower="${-PI/6}" upper="${PI/2}" velocity="4.8"/>
    <axis xyz="0 1 0"/>
  </joint>
  <joint name="right_ankle_pitch_joint" type="revolute">
    <parent link="right_ankle_side_link"/>
    <child link="right_ankle_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <limit effort="1000" lower="${-PI/2}" upper="${PI/2}" velocity="4.8"/>
    <axis xyz="0 1 0"/>
  </joint>
  <joint name="right_ankle_roll_joint" type="revolute">
    <parent link="right_ankle_link"/>
    <child link="right_foot_link"/>
    <origin xyz="-0.031 0 0" rpy="0 0 0"/>
    <limit effort="1000" lower="${-PI/2}" upper="${PI/2}" velocity="4.8"/>
    <axis xyz="1 0 0"/>
  </joint>

  <!-- mimic joints -->
  <joint name="right_slider_crank_mimic_joint" type="revolute">
    <parent link="right_waist_roll_link"/>
    <child link="right_slider_crank_link"/>
    <origin xyz="-0.0335 0 0.018" rpy="0 0 0"/>
    <limit effort="1000" lower="${-PI/2}" upper="${PI/2}" velocity="4.8"/>
    <axis xyz="1 0 0"/>
    <mimic joint="right_waist_roll_joint" multiplier="-2" offset="0"/>
  </joint>
  <joint name="right_hamstring_mimic_joint" type="revolute">
    <parent link="right_waist_roll_link"/>
    <child link="right_hamstring_link"/>
    <origin xyz="-0.032 0 -0.02" rpy="0 0 0"/>
    <limit effort="1000" lower="${-PI/2}" upper="${PI/6}" velocity="4.8"/>
    <axis xyz="0 1 0"/>
    <mimic joint="right_waist_pitch_joint" multiplier="1" offset="0"/>
  </joint>
  <joint name="right_knee_pitch_mimic_joint" type="revolute">
    <!-- closed loop -->
    <parent link="right_thigh_link"/>
    <child link="right_knee_link"/>
    <origin xyz="0 0 -0.1" rpy="0 0 0"/>
    <limit effort="1000" lower="${-PI/6}" upper="${PI/2}" velocity="4.8"/>
    <axis xyz="0 1 0"/>
    <mimic joint="right_waist_pitch_joint" multiplier="-1" offset="0"/>
  </joint>
  <joint name="right_calf_mimic_joint" type="revolute">
    <parent link="right_knee_link"/>
    <child link="right_calf_link"/>
    <origin xyz="-0.032 0 -0.037" rpy="0 0 0"/>
    <limit effort="1000" lower="${-PI/6}" upper="${PI/2}" velocity="4.8"/>
    <axis xyz="0 1 0"/>
    <mimic joint="right_knee_pitch_joint" multiplier="1" offset="0"/>
  </joint>
  <joint name="right_ankle_pitch_mimic_joint" type="revolute">
    <!-- closed loop -->
    <parent link="right_shin_link"/>
    <child link="right_ankle_side_link"/>
    <origin xyz="0 0 -0.1" rpy="0 0 0"/>
    <limit effort="1000" lower="${-PI/2}" upper="${PI/2}" velocity="4.8"/>
    <axis xyz="0 1 0"/>
    <mimic joint="right_knee_pitch_joint" multiplier="-1" offset="0"/>
  </joint>

  <!-- leg links -->
  <link name="right_waist_yaw_link">
    <inertial>
      <origin xyz="-0.008607 0 -0.008006" rpy="0 0 0"/>
      <mass value="0.038113"/>
      <inertia ixx="0.000012431119" ixy="0" ixz="-0.000000009667" iyy="0.000030968751" iyz="0" izz="0.000022812922"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://opr_description/meshes/version4/WaistYawLight.stl"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.00899999961256981 1.760429748682414e-18 -0.019749999977648258" rpy="-1.5707963267948966 6.123233995736766e-17 -1.5707963267948968"/>
      <geometry>
        <box size="0.03404976800084115 0.05949999950826168 0.06780000030994415"/>
      </geometry>
    </collision>
  </link>
  <link name="right_waist_roll_link">
    <inertial>
      <origin xyz="-0.009956 0 0.002314" rpy="0 0 0"/>
      <mass value="0.169734"/>
      <inertia ixx="0.000063728596" ixy="0" ixz="0.000008352459" iyy="0.000073380568" iyz="-0.000000058" izz="0.000071098724"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://opr_description/meshes/version4/WaistRollLight.stl"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.009413216904900764 3.2907542331266094e-19 0.0040390074015276105" rpy="-1.5707963267948972 -1.4688870082426757 -3.1415926535897927"/>
      <geometry>
        <box size="0.05523091202205781 0.06322201062974908 0.06750000268220901"/>
      </geometry>
    </collision>
  </link>
  <link name="right_thigh_link">
    <inertial>
      <origin xyz="0.011263 0 -0.054265" rpy="0 0 0"/>
      <mass value="0.042298"/>
      <inertia ixx="0.000070306" ixy="0" ixz="0" iyy="0.000040631" iyz="0" izz="0.000039265"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://opr_description/meshes/version4/ThighLight.stl"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.006775000132620336 0.0 -0.051994965644553304" rpy="0.0 6.123233995736766e-17 3.141592653589793"/>
      <geometry>
        <box size="0.0364500004798174 0.06949999928474425 0.11798530584201215"/>
      </geometry>
    </collision>
  </link>
  <link name="right_knee_link">
    <inertial>
      <origin xyz="-0.013195 0.000597 -0.028501" rpy="0 0 0"/>
      <mass value="0.292217"/>
      <inertia ixx="0.000309351160" ixy="-0.000002710035" ixz="0.000000001274" iyy="0.000297482099" iyz="-0.000000000102" izz="0.000128014307"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://opr_description/meshes/version4/RightKneeLight.stl"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.013864013366401194 0.0 -0.028499998152256012" rpy="0.0 6.123233995736766e-17 3.141592653589793"/>
      <geometry>
        <box size="0.05348143912851811 0.067500002682209 0.09397687017917632"/>
      </geometry>
    </collision>
  </link>
  <link name="right_shin_link">
    <inertial>
      <origin xyz="0.011263 0 -0.045735" rpy="0 0 0"/>
      <mass value="0.042298"/>
      <inertia ixx="0.000070306" ixy="0" ixz="0" iyy="0.000040631" iyz="0" izz="0.000039265"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://opr_description/meshes/version4/ShinLight.stl"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.006775000132620334 0.0 -0.048005031887441874" rpy="0.0 6.123233995736766e-17 3.141592653589793"/>
      <geometry>
        <box size="0.03645000047981739 0.06949999928474429 0.11798530351370574"/>
      </geometry>
    </collision>
  </link>
  <link name="right_ankle_side_link">
    <inertial>
      <origin xyz="-0.013347 0 0.008343" rpy="0 0 0"/>
      <mass value="0.023147"/>
      <inertia ixx="0.000020167808" ixy="-0.000000045124" ixz="0.000002791677" iyy="0.000007373394" iyz="-0.000000072190" izz="0.000022888907"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://opr_description/meshes/version4/AnkleSideLight.stl"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.011412393954674374 7.146761672779402e-20 0.01024523919989034" rpy="-1.5707963267948968 0.8390271244240705 3.141592653589793"/>
      <geometry>
        <box size="0.0249935555395753 0.055670833089966454 0.06750000268220901"/>
      </geometry>
    </collision>
  </link>
  <link name="right_ankle_link">
    <inertial>
      <origin xyz="-0.032373 0 0.005993" rpy="0 0 0"/>
      <mass value="0.251442"/>
      <inertia ixx="0.000076837363" ixy="-0.000000308474" ixz="-0.000033997201" iyy="0.000278773400" iyz="0" izz="0.000281200733"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://opr_description/meshes/version4/AnkleLight.stl"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.031873343670665126 9.999983012676639e-05 0.011302715725048419" rpy="1.4879617929266074 -1.0132707696249239e-17 -1.5707963267948968"/>
      <geometry>
        <box size="0.052299998700618744 0.053995914426129804 0.11384617313910501"/>
      </geometry>
    </collision>
  </link>
  <link name="right_foot_link">
    <inertial>
      <origin xyz="0.020826 -0.016517 -0.039217" rpy="0 0 0"/>
      <mass value="0.098589"/>
      <inertia ixx="0.000107804945" ixy="-0.000009010661" ixz="-0.000008516149" iyy="0.000362837937" iyz="0.000007813284" izz="0.000440229333"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://opr_description/meshes/version4/RightFootLight.stl"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.021000001579523087 -0.020999998785555363 -0.023049999959766865" rpy="-3.141592653589793 1.5707963267948966 0.0"/>
      <geometry>
        <box size="0.0679000001400709 0.09249999932944773 0.17650000005960464"/>
      </geometry>
    </collision>
  </link>
  <link name="right_slider_crank_link">
    <inertial>
      <origin xyz="-0.002952 0 0.01162" rpy="0 0 0"/>
      <mass value="0.008594"/>
      <inertia ixx="0.000000938108" ixy="0" ixz="-0.000000173459" iyy="0.000000887351" iyz="-0.000000000002" izz="0.000000292478"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://opr_description/meshes/version4/SliderCrankLight.stl"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.0019685261027502948 -0.00014165545717062836 0.009035958319609934" rpy="0.016349194943953056 -0.2745921378361106 -0.0044335217605196925"/>
      <geometry>
        <box size="0.014016020056229879 0.02245286538792845 0.040529081872101635"/>
      </geometry>
    </collision>
  </link>
  <link name="right_hamstring_link">
    <inertial>
      <origin xyz="-0.001824 0 -0.047726" rpy="0 0 0"/>
      <mass value="0.029252"/>
      <inertia ixx="0.000049199945" ixy="0" ixz="-0.000000651855" iyy="0.000026577036" iyz="0" izz="0.00002393766"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://opr_description/meshes/version4/HamstringLight.stl"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0026293317787349224 -1.6100013733620697e-19 -0.05002261372283101" rpy="3.141592653589793 -0.0 -6.123233995736766e-17"/>
      <geometry>
        <box size="0.022158662788569927 0.06949999928474428 0.11685264762490986"/>
      </geometry>
    </collision>
  </link>
  <link name="right_calf_link">
    <inertial>
      <origin xyz="-0.001824 0 -0.052274" rpy="0 0 0"/>
      <mass value="0.029252"/>
      <inertia ixx="0.000049199945" ixy="0" ixz="0.000000651855" iyy="0.000026577036" iyz="0" izz="0.000023937660"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://opr_description/meshes/version4/CalfLight.stl"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0026293317787349224 -1.6100013733620697e-19 -0.049977388232946396" rpy="3.141592653589793 -0.0 -6.123233995736766e-17"/>
      <geometry>
        <box size="0.022158662788569927 0.06949999928474428 0.11685264855623244"/>
      </geometry>
    </collision>
  </link>
</robot>
