<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="contact_disabled_link" params="name">
    <gazebo reference="${name}">
      <mu1>0</mu1>
      <mu2>0</mu2>
      <kp>10000000</kp>
      <kd>0</kd>
      <selfCollide>false</selfCollide>
      <collision>
        <surface>
          <contact>
            <collide_without_contact>true</collide_without_contact>
          </contact>
        </surface>
      </collision>
    </gazebo>
  </xacro:macro>
  <xacro:macro name="leg_link" params="name">
    <gazebo reference="${name}">
      <mu1>0.2</mu1>
      <mu2>0</mu2>
      <kp>1000000.0</kp>
      <kd>100.0</kd>
      <maxVel>10.0</maxVel>
      <minDepth>0.01</minDepth>
      <maxContacts>6</maxContacts>
      <selfCollide>false</selfCollide>
      <dampingFactor>0</dampingFactor>
    </gazebo>
  </xacro:macro>
  <xacro:macro name="foot_link" params="name">
    <gazebo reference="${name}">
      <selfCollide>false</selfCollide>
      <dampingFactor>0</dampingFactor>
      <mu1>1.0</mu1>
      <mu2>1.0</mu2>
      <kp>1000000.0</kp>
      <kd>10000.0</kd>
      <maxVel>0.0</maxVel>
      <minDepth>0.0</minDepth>
      <maxContacts>6</maxContacts>
    </gazebo>
  </xacro:macro>
  <xacro:macro name="implicit_joint" params="name">
    <gazebo reference="${name}">
      <physics>
        <ode>
          <implicit_spring_damper>1</implicit_spring_damper>
        </ode>
      </physics>
    </gazebo>
  </xacro:macro>
  <xacro:macro name="passive_joint" params="name parent child xyz:='0 0 0' rpy:='0 0 0' axis:='0 1 0'">
    <gazebo>
      <joint name="${name}_passive_joint" type="revolute">
        <parent>${parent}</parent>
        <child>${child}</child>
        <pose relative_to="${parent}">${xyz} ${rpy}</pose>
        <axis>
          <xyz>${axis}</xyz>
          <limit>
            <lower>-3.141</lower>
            <upper>3.141</upper>
            <effort>10000</effort>
            <velocity>10000</velocity>
          </limit>
          <dynamics>
            <damping>0</damping>
            <friction>0</friction>
            <spring_reference>0</spring_reference>
            <spring_stiffness>0</spring_stiffness>
          </dynamics>
        </axis>
        <physics>
          <ode>
            <implicit_spring_damper>1</implicit_spring_damper>
          </ode>
        </physics>
      </joint>
    </gazebo>
  </xacro:macro>

  <xacro:leg_link name="left_waist_yaw_link"/>
  <xacro:leg_link name="left_waist_roll_link"/>
  <xacro:leg_link name="left_thigh_link"/>
  <xacro:leg_link name="left_knee_link"/>
  <xacro:leg_link name="left_shin_link"/>
  <xacro:leg_link name="left_ankle_side_link"/>
  <xacro:leg_link name="left_ankle_link"/>
  <xacro:foot_link name="left_foot_link"/>
  <xacro:contact_disabled_link name="left_slider_crank_link"/>
  <xacro:leg_link name="left_hamstring_link"/>
  <xacro:leg_link name="left_calf_link"/>

  <xacro:implicit_joint name="left_waist_yaw_joint"/>
  <xacro:implicit_joint name="left_waist_roll_joint"/>
  <xacro:implicit_joint name="left_slider_crank_mimic_joint"/>
  <xacro:implicit_joint name="left_waist_pitch_joint"/>
  <xacro:implicit_joint name="left_knee_pitch_mimic_joint"/>
  <xacro:implicit_joint name="left_hamstring_mimic_joint"/>
  <xacro:implicit_joint name="left_knee_pitch_joint"/>
  <xacro:implicit_joint name="left_ankle_pitch_mimic_joint"/>
  <xacro:implicit_joint name="left_calf_mimic_joint"/>
  <xacro:implicit_joint name="left_ankle_pitch_joint"/>
  <xacro:implicit_joint name="left_ankle_roll_joint"/>

  <xacro:passive_joint name="left_slider_crank" parent="left_waist_yaw_link" child="left_slider_crank_link" xyz="-0.04 0 -0.0065" axis="1 0 0"/>
  <xacro:passive_joint name="left_knee_pitch" parent="left_hamstring_link" child="left_knee_link" xyz="0 0 -0.1"/>
  <xacro:passive_joint name="left_ankle_pitch" parent="left_calf_link" child="left_ankle_side_link" xyz="0 0 -0.1"/>

  <xacro:leg_link name="right_waist_yaw_link"/>
  <xacro:leg_link name="right_waist_roll_link"/>
  <xacro:leg_link name="right_thigh_link"/>
  <xacro:leg_link name="right_knee_link"/>
  <xacro:leg_link name="right_shin_link"/>
  <xacro:leg_link name="right_ankle_side_link"/>
  <xacro:leg_link name="right_ankle_link"/>
  <xacro:foot_link name="right_foot_link"/>
  <xacro:leg_link name="right_slider_crank_link"/>
  <xacro:leg_link name="right_hamstring_link"/>
  <xacro:leg_link name="right_calf_link"/>

  <xacro:implicit_joint name="right_waist_yaw_joint"/>
  <xacro:implicit_joint name="right_waist_roll_joint"/>
  <xacro:implicit_joint name="right_slider_crank_mimic_joint"/>
  <xacro:implicit_joint name="right_waist_pitch_joint"/>
  <xacro:implicit_joint name="right_knee_pitch_mimic_joint"/>
  <xacro:implicit_joint name="right_hamstring_mimic_joint"/>
  <xacro:implicit_joint name="right_knee_pitch_joint"/>
  <xacro:implicit_joint name="right_ankle_pitch_mimic_joint"/>
  <xacro:implicit_joint name="right_calf_mimic_joint"/>
  <xacro:implicit_joint name="right_ankle_pitch_joint"/>
  <xacro:implicit_joint name="right_ankle_roll_joint"/>

  <xacro:passive_joint name="right_slider_crank" parent="right_waist_yaw_link" child="right_slider_crank_link" xyz="-0.04 0 -0.0065" axis="1 0 0"/>
  <xacro:passive_joint name="right_knee" parent="right_hamstring_link" child="right_knee_link" xyz="0 0 -0.1"/>
  <xacro:passive_joint name="right_ankle" parent="right_calf_link" child="right_ankle_side_link" xyz="0 0 -0.1"/>
</robot>
