<?xml version="1.0"?>
<launch>
  <!-- argument -->
  <arg name="robot" default="gankenkun"/>
  <arg name="world_name" default="worlds/empty.world"/>

  <!-- include -->
  <rosparam command="load" file="$(find opr_bringup)/config/gazebo_pid.yaml"/>
  <include file="$(find opr_bringup)/launch/include/common.launch">
    <arg name="robot" value="$(arg robot)"/>
  </include>

  <!-- load gazebo -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name)"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="paused" value="true"/>
  </include>
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -param robot_description -model $(arg robot) -x 0 -y 0 -z 0.05"/>
</launch>
