<?xml version="1.0"?>
<launch>
  <!-- argument -->
  <arg name="robot" default="gankenkun"/>

  <!-- include -->
  <include file="$(find opr_bringup)/launch/include/common.launch">
    <arg name="robot" value="$(arg robot)"/>
  </include>

  <!-- hardware interface -->
  <node name="opr_hw_interface" pkg="b3m_hw_interface" type="b3m_hw_interface_node" output="screen">
    <rosparam file="$(find opr_bringup)/config/sustaina_hw_interface.yaml" command="load"/>
  </node>

  <!-- imu -->
  <include file="$(find opr_imu)/launch/opr_imu.launch">
    <arg name="port" value="/dev/ttyIMU"/>
    <arg name="baudrate" value="115200"/>
    <arg name="device_topic" value="imu/data_raw"/>
    <arg name="imu_topic" value="imu/data"/>
  </include>

  <!-- start/stop button -->
  <node name="opr_button" pkg="opr_button" type="button_state_node.py" output="screen">
    <param name="~port" value="/dev/ttyButton"/>
    <param name="~baudrate" value="9600"/>
  </node>

  <!-- camera -->
  <remap from="/camera/image_raw" to="/camera/rgb/image_raw"/>
  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen">
    <param name="video_device" value="/dev/video0"/>
    <param name="image_width" value="640"/>
    <param name="image_height" value="480"/>
    <param name="pixel_format" value="uyvy"/>
    <param name="color_format" value="yuv422p"/>
    <param name="camera_frame_id" value="camera_rgb_optical_frame"/>
    <param name="io_method" value="mmap"/>
    <param name="framerate" value="5"/>
  </node>
</launch>
