<?xml version="1.0"?>
<launch>
  <!-- argument -->
  <arg name="robot" default="gankenkun"/>

  <!-- include -->
  <include file="$(find opr_bringup)/launch/include/common.launch">
    <arg name="robot" value="$(arg robot)"/>
  </include>

  <!-- hardware interface -->
  <node name="opr_hw_interface" pkg="b3m_hw_interface" type="b3m_hw_interface_node" output="screen">
    <rosparam file="$(find opr_bringup)/config/sustaina_hw_interface.yaml" command="load"/>
  </node>

  <!-- imu -->
  <include file="$(find opr_imu)/launch/opr_imu.launch">
    <arg name="port" value="/dev/ttyACM0"/>
    <arg name="baudrate" value="115200"/>
    <arg name="device_topic" value="imu/data_raw"/>
    <arg name="imu_topic" value="imu/data"/>
  </include>

  <!-- start/stop button -->
  <node name="opr_button" pkg="opr_button" type="button_state_node" output="screen">
    <param name="~port" value="/dev/ttyACM1"/>
    <param name="~baudrate" value="9600"/>
  </node>
</launch>
