<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- arm joints -->
  <joint name="right_shoulder_pitch_joint" type="revolute">
    <parent link="body_link"/>
    <child link="right_shoulder_link"/>
    <origin xyz="0 -0.0615 0.056" rpy="0 0 0"/>
    <limit effort="1000" lower="${-3*PI/4}" upper="${3*PI/4}" velocity="4.8"/>
    <axis xyz="0 1 0"/>
    <dynamics damping="0.1" friction="0.0"/>
  </joint>
  <joint name="right_shoulder_roll_joint" type="revolute">
    <parent link="right_shoulder_link"/>
    <child link="right_arm_link"/>
    <origin xyz="0 -0.03 0" rpy="0 0 0"/>
    <limit effort="1000" lower="${-PI}" upper="${PI}" velocity="4.8"/>
    <axis xyz="1 0 0"/>
    <dynamics damping="0.1" friction="0.0"/>
  </joint>
  <joint name="right_elbow_pitch_joint" type="revolute">
    <parent link="right_arm_link"/>
    <child link="right_forearm_link"/>
    <origin xyz="0 0 -0.109" rpy="0 0 0"/>
    <limit effort="1000" lower="${-3*PI/4}" upper="${3*PI/4}" velocity="4.8"/>
    <axis xyz="0 1 0"/>
    <dynamics damping="0.1" friction="0.0"/>
  </joint>

  <!-- arm links -->
  <link name="right_shoulder_link">
    <inertial>
      <origin xyz="0 -0.007843 0" rpy="${-PI/2} 0 0"/>
      <mass value="0.031036"/>
      <inertia ixx="0.000006857020" ixy="0.0" ixz="0.0" izz="0.000012483012" iyz="0.0" iyy="0.000014531649"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="${-PI/2} 0 0"/>
      <geometry>
        <mesh filename="package://opr_description/meshes/gankenkun/ShoulderLight.stl"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 -0.01763494312763214 -1.0798288327200158e-18" rpy="-7.498798913309288e-33 -1.5707963267948966 0.0"/>
      <geometry>
        <box size="0.03200000151991844 0.04626988619565964 0.0502999983727932"/>
      </geometry>
    </collision>
  </link>
  <link name="right_arm_link">
    <inertial>
      <origin xyz="0.00049 -0.00049 -0.0545" rpy="0 0 0"/>
      <mass value="0.198342"/>
      <!--<inertia ixx="0.000398185104" ixy="0.000000071266" ixz="0.000000295835" iyy="0.000398185104" iyz="0.000000295835" izz="0.000042014091"/>-->
      <inertia ixx="0.000398185104" ixy="0.0" ixz="0.0" iyy="0.000398185104" iyz="0.0" izz="0.000042014091"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://opr_description/meshes/gankenkun/RightUpperArmLight.stl"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-9.999983012675906e-05 9.999983012676239e-05 -0.05449999962002039" rpy="3.141592653589793 -0.0 1.5707963267948966"/>
      <geometry>
        <box size="0.045299999415874474 0.04529999941587448 0.132999999448657"/>
      </geometry>
    </collision>
  </link>
  <link name="right_forearm_link">
    <inertial>
      <origin xyz="0 -0.009824 -0.126417" rpy="0 0 ${PI}"/>
      <mass value="0.06313"/>
      <inertia ixx="0.000296886941" ixy="0.000000000007" ixz="-0.000000000026" iyy="0.000284555999" iyz="-0.000025954170" izz="0.000016240155"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 ${PI}"/>
      <geometry>
        <mesh filename="package://opr_description/meshes/gankenkun/ForeArmLight.stl"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-4.9632743914594e-34 -2.7018807354169517e-18 -0.10078542958945036" rpy="3.141592653589793 -0.0 -1.8369701987210297e-16"/>
      <geometry>
        <box size="0.02500000037252903 0.05029999837279319 0.2233708593994379"/>
      </geometry>
    </collision>
  </link>
</robot>
